.table-exercise-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.table-container {
    width: 60%;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid #E9F0FA;
    font-size: 1vw;
}

tr {
    border: 1px solid #E9F0FA;
}

th, td {
    color: #656565;
}

th {

    text-align: center;
}

th > div {
    display: inline-block;
}

.trash-container {
    padding-right: 5%;
}

.total-container {
    width: 100%;
    text-align: left;
    font-size: 0.85vw;
}

.total-inside-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
}

.title {
    float: left;
    margin-top: 3.25%;
}

.arrows {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-pointer {
    cursor: pointer;
}